<a href="https://colab.research.google.com/github/akhildharmula/NNDL/blob/main/NNDLAssign_V_536.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Mount Google Drive**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **Import required libraries**

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error

# **Import Data**

# **This data consists of 2 columns, Y is load at a particular hour in a day, where X is the load at one hour and one day before.**

In [3]:
data = pd.read_excel('/content/drive/MyDrive/NNDL/NNDLAssign5_data.xlsx')
data.head()

            X           Y
0  5551.82208  4775.53968
1  4983.17184  4713.81120
2  4888.39680  4689.02628
3  5072.95872  4844.75040
4  5196.25980  5571.46296

# **Data normalization**

In [4]:
scaler = MinMaxScaler()
num_vars = ['X', 'Y']
data[num_vars] = scaler.fit_transform(data[num_vars])
data

           X         Y
0   0.253944  0.024668
1   0.081625  0.007067
2   0.052905  0.000000
3   0.108833  0.044402
4   0.146197  0.251611
..       ...       ...
64  0.849787  0.794658
65  1.000000  0.562114
66  0.500945  0.397395
67  0.639490  0.457220
68  0.364100  0.615538

[69 rows x 2 columns]

# **Data split to training and testing**

In [5]:
x_train, x_test, y_train, y_test = train_test_split(data.X, data.Y, test_size = 0.1, random_state = 10)

# **Initialization of required variables**

In [6]:
m = 1
c = -1
eta = 0.01
max_iters = 100
r = 0.1
Em_square = 0
Ec_square = 0
E = 0.0001

# **RMSprop + SGD Algorithm**

In [7]:
m_deriv = 0
c_deriv = 0
for iter in range(max_iters):
  i = 0
  for i in range(len(data)):
    x = data.X[i]
    y = data.Y[i]
    m_deriv = -(y-m*x-c)*x
    c_deriv = -(y-m*x-c)
    Em_square = r * Em_square + (1 - r) * (m_deriv * m_deriv)
    Ec_square = r * Ec_square + (1 - r) * (c_deriv * c_deriv)
    m = m - (eta/math.sqrt(Em_square + E)) * m_deriv
    c = c - (eta/math.sqrt(Ec_square + E)) * c_deriv
print("Model parameter m and c are : ",m,c)

Model parameter m and c are :  0.3110170066371961 0.319565077199426

# **Model prediction on training data**

In [8]:
y_pred_train = []
for i in x_train:
  y_p_tr = (m * i) + c
  y_pred_train.append(y_p_tr)
y_pred_train = np.array(y_pred_train)

# **Model prediction on testing data**

In [9]:
y_pred_test = []
for i in x_test:
  y_p_te = (m * i) + c
  y_pred_test.append(y_p_te)
y_pred_test = np.array(y_pred_test)

# **Error metrics calculation**

In [10]:
#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 0.20865432878148235
Mean square error 0.04353662891925093
Mean absolute error 0.16277145094519546

In [11]:
#Testing Accuracies
mse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', mse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 0.21631389276019056
Mean square error 0.04679170020106722
Mean absolute error 0.1776736836277521

# **Deployment**

In [12]:
X=input('enter X value : ')
print('X = ',X)
Y=m*float(X)+c
print('Y = ',Y)

enter X value : 10
X =  10
Y =  3.429735143571387